<div class="project-container" id="port">
    <div class="item">
        <h2 class="heading">The Chronicles of Arrg - Game</h2>
        <b>
            <h3><a id="weblink" href="http://mm.up.ac.za/blog/?p=531">Visit the Multimedia Blog to see more</a></h3>
        </b>
        <embed src="./assets/images/smallFlyerFront.pdf" id="menu" class="row-item" />
    </div>
    <div class="item">
        <h2 class="heading">Lyric Video</h2>
        <iframe width="800" height="505" src="https://www.youtube.com/embed/L6n9obLxUAM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="item">
        <h2 class="heading">VR Project - Neck Deep in the Woods</h2>
        <iframe width="800" height="505" src="https://www.youtube.com/embed/r2AqBPv-wPo" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>