<div class="project-container" id="port">
    <div class="item">
        <h2 class="heading">Animation</h2>
        <video width="800" height="505" controls>
            <source src="./assets/video/IMY777_NinaErasmus.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="item">
        <h2 class="heading">Lyric Video</h2>
        <iframe width="800" height="505" src="https://www.youtube.com/embed/L6n9obLxUAM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="item">
        <h2 class="heading">VR Experience - Neck Deep in the Woods</h2>
        <iframe width="800" height="505" src="https://www.youtube.com/embed/r2AqBPv-wPo" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="item">
        <h2 class="heading">The Chronicles of Arrg - Unity Game</h2>
        <b>
            <h3><a id="weblink" href="http://mm.up.ac.za/blog/?p=531">Visit the Multimedia Blog to see more</a></h3>
        </b>
        <embed src="./assets/images/smallFlyerFront.pdf" id="menu" class="row-item" />
    </div>
</div>