<div class="about-container">
        <div class="photo-container"><img class="logo" src="./assets/images/NinaErasmus.JPG" alt="Image of Nina" /></div>
        <div class="indexText">
            <h1>About Me</h1>
            <p>
                Nina Erasmus is a UI/UX Developer at Gendac Software Engineering. 
                She is currently waiting for her last results of her BIS Multimedia Honours degree. <br />
                 <br />
                Her favourite part of her job, is being able to see a project through from inception to production. 
                She enjoys engaging with users and stakeholders in order to gather requirements, designing, prototyping and testing the concepts to determine
                what adds value and what does not, and finally being mentally challenged by implementing the designs in the most effective way possible.
                 <br />
                 In her next job, she would like to work for a company that understands the value of research and user testing. As a UI/UX developer, there is nothing 
                 more frustrating than designing an application and jumping straight to development, without establishing whether or not the designs make sense to the 
                 user and the requirements meet their needs.
                 <br />
                 <br />
                In her spare time she loves to play games, read novels and laugh at her two crazy dogs - Tjoppie and Tipsy.
                <br />
            </p>
        </div>	
</div>
