<div class="about-container">
        <div class="photo-container"><img class="logo" src="../../assets/images/NinaErasmus.JPG" alt="Image of Nina" /></div>
        <div class="indexText">
            <h1>About Me</h1>
            <p>
                Nina Erasmus is a UI/UX Developer at Gendac Software Engineering. 
                She is currently studying towards her BIS Multimedia Honours degree and aims to complete it by the end of 2021. <br />
                 <br />
                Her favourite part of her job, is being able to see a project through from inception to production. 
                She enjoys engaging with users and stakeholders in order to gather requirements, designing, prototyping and testing the concepts to determine
                what adds value and what does not, and finally being mentally challenged by implementing the designs in the most effective way possible.
                 <br />
                 <br />
                In her spare time she loves to play computer games, read novels and laugh at her two crazy dogs - Tjoppie and Tipsy.
                <br />
            </p>
        </div>	
</div>
