<div class="design-container" id="port">
    <div class="item sti-item">
        <h2 class="heading">Short-Term Insurance Mobile App</h2>
        <div class="image-container-col">
            <div class="row">
                <img class="image sti"  src="./assets/images/ins1.png" />
                <img class="image sti"  src="./assets/images/ins2.png" />
                <img class="image sti"  src="./assets/images/ins3.png" />
            </div>
            <div class="row">
                <img class="image sti"  src="./assets/images/ins1.png" />
                <img class="image sti"  src="./assets/images/ins4.png" />
                <img class="image sti"  src="./assets/images/ins5.png" />
            </div>
        </div>
    </div>
    <div class="item sti-item">
        <h2 class="heading">Brewery Website</h2>
        <div class="image-container-col">
            <div class="row">
                <img class="image brewery"  src="./assets/images/beer1.png" />
                <img class="image brewery"  src="./assets/images/beer2.png" />
            </div>
            <div class="row">
                <img class="image brewery"  src="./assets/images/beer3.png" />
                <img class="image brewery"  src="./assets/images/beer4.png" />
            </div>
        </div>
    </div>
    <div class="item sti-item">
        <h2 class="heading">Accommodation Website</h2>
        <div class="image-container-col">
            <div class="row">
                <img class="image ezsleep"  src="./assets/images/ez1.png" />
                <!-- <img class="image ezsleep"  src="./assets/images/ez2.png" /> -->
                <img class="image ezsleep"  src="./assets/images/ez3.png" />
            </div>
            <div class="row">
                <img class="image ezsleep"  src="./assets/images/ez4.png" />
                <img class="image ezsleep"  src="./assets/images/ez5.png" />
            </div>
        </div>
    </div>
    <div class="item">
        <h2 class="heading">Debriefing Using Games - Poster Design</h2>
        <embed src="./assets/documents/debrief.pdf" id="menu" class="row-item" />
    </div>
    <div class="item">
        <h2 class="heading">Toeka se Dae - Menu Designs</h2>
        <embed src="./assets/documents/ToekaMenu7.pdf" id="menu" class="row-item" />
    </div>
    <div class="item">
        <h2 class="heading">Phantom of Pillsbury - Website</h2>
        <b class="text">
            <h3><a id="weblink" href="./assets/phantom/index.html" target="_blank">Click to view</a></h3>
        </b>
        <img class="image" src="./assets/images/phantom.png" />
    </div>
</div>