<div class="design-container" id="port">
    <div class="item">
        <h2 class="heading">Toeka se Dae - Menu Design</h2>
        <embed src="/assets/documents/ToekaMenu6.pdf" id="menu" class="row-item" />
    </div>
    <div class="item sti-item">
        <h2 class="heading">PPS Short-Term Mobile App</h2>
        <b class="text">
            <h3>Please feel free to download it in the app store (IOS and Android) and contact me for credentials</h3>
        </b>
        <div class="image-container-col">
            <img class="image sti"  src="/assets/images/sti0.png" />
            <img class="image sti"  src="/assets/images/sti1.png" />
        </div>
    </div>
    <div class="item">
        <h2 class="heading">Debriefing Using Games - Poster Design</h2>
        <embed src="/assets/documents/debrief.pdf" id="menu" class="row-item" />
    </div>
    <div class="item">
        <h2 class="heading">Phantom of Pillsbury - Website</h2>
        <b class="text">
            <h3><a id="weblink" href="/assets/phantom/index.html" target="_blank">Click to view</a></h3>
        </b>
        <img class="image" src="/assets/images/phantom.png" />
    </div>
</div>